<div class="cta">
   <div class="headline title bebas">Did you vote? Will you vote?</div>
  <h4>Get a Twitter badge and vote page to help motivate your followers to vote.</h4>
  <div class="padd">
    <div class="action">
      <a class="option half left selected" data-url="/twitter/new?badge=ivoted_banner">
        <div class="text">
          <p class="bubble red" style="float: left;">Yes, I voted.</p>
           <p class="explanation"></p>
        </div>
        <div class="badge medium">
          <div class="ivoted_banner"></div>
          <%= image_tag(random_avatar, :class=>"avatar")%>
        </div>
      </a>
      <div class="buffer"><div class="line"></div></div>
      <a class="option half right" data-url="/twitter/new?badge=ipledge_banner">
        <div class="badge medium">
          <div class="ipledge_banner"></div>
          <%= image_tag(random_avatar, :class=>"avatar")%>
        </div>
        <div class="text">
          <p class="bubble blue" style="float: right;">I pledge to vote.</p>
          <p class="explanation">Voting hasn't started in your state? Pledge and get a badge, page and helpful voting info.</p>
        </div>
      </a>
    </div>
    <%= image_tag("arrow.png", :class=>"arrow", :id=>"thisone")%>
    <%= image_tag("arrow_left.png", :class=>"arrow", :id=>"thatone", :style =>"display: none;")%>	
  </div>
</div>

<% content_for :footer do %>
  <% javascript_tag do %>
     $(document).ready(function(){
        change_badge($("a.option.selected"));
      });
      
      $('a.option.half').bind("click", function() {
        change_badge($(this));
      });
    
      function change_badge(obj){
  		if ($(obj).hasClass('selected')) {
  		   } else {
  	           $("#thatone").toggle();
  	           $("#thisone").toggle();	   
  		   }
        $("a.option.half").removeClass('selected');
        $(obj).addClass('selected');
        $("#login_button").attr("href", $(obj).data('url'));
      }
  <% end %>
<% end %>
<span class="center"><%= link_to "choose your badge", "/twitter/new?badge=ivoted_banner", :id => 'login_button', :class=>"button blue twitter"%></span>

<%= image_tag("seperator.png", :style=> "border:none;margin-top: 60px;") %>

<div class="followers">
  <h1 class="ribbon">
     <strong class="ribbon-content"> <%= @counts['total_followers'] %> Followers reached by these badges</strong>
  </h1>
  <a class="badge thumb" href="/twitter/new?badge=ivoted_banner">
    <div class="ivoted_banner"></div>
    <%= image_tag(random_avatar, :class=>"avatar")%>
    <p class="count"><%= @counts['ivoted_banner_count'] %> Choose This</p>
  </a>
  <a class="badge thumb" href="/twitter/new?badge=ivoted_badge">
    <div class="ivoted_badge"></div>
    <p class="count"><%= @counts['ivoted_badge_count'] %> Choose This</p>
  </a>
  <a class="badge thumb" href="/twitter/new?badge=ipledge_banner">
    <div class="ipledge_banner"></div>
    <%= image_tag(random_avatar, :class=>"avatar")%>
    <p class="count"><%= @counts['ipledge_banner_count'] %> Choose This</p>
  </a>
  <a class="badge thumb" href="/twitter/new?badge=ipledge_badge">
    <div class="ipledge_badge"></div>
    <p class="count"><%= @counts['ipledge_badge_count'] %> Choose This</p>
  </a>
  <% if !@top_users.empty? %>
    <div class="top_badge_user">
      <div class="line"><h4>Top Badge Users</h4></div>
      <% for provider in @top_users %>
        <a class="badge thumb" href="/twitter/<%= provider.uuid %>">
          <%= image_tag(provider.badge.url, :class=>"avatar")%>
          <p class="count"><b><%= provider.uuid %></b><br/><%= provider.followers_count %> Followers</p>
        </a>
      <% end %>
    </div>
  <% end %>
</div>