<h1>Login</h1>

<%= form_for @session do |f| %>
  <% if @session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@session.errors.count, "error") %> prohibited:</h2>
    <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>