<div class="cta pick_badge">
   <div class="headline title bebas">Did you vote? Will you vote?</div>
  <h4>Get a Twitter badge and vote page to help motivate your followers to vote.</h4>
    
  <div class="row">
     <a class="badge thumb" href="#" data-badge='ipledge_banner'>
       <div class="ipledge_banner"></div>
        <%= image_tag(random_avatar, :class=>"avatar")%>
       <p class="count">I Pledge Banner</p>
     </a>
     <a class="badge thumb" href="#" data-badge='ipledge_badge'>
       <div class="ipledge_badge"></div>
       <p class="count">I Pledge Badge</p>
     </a>
     <a class="badge thumb selected" href="#" data-badge='ivoted_banner'>
        <div class="ivoted_banner"></div>
        <%= image_tag(random_avatar, :class=>"avatar")%>
        <p class="count">I Voted Banner</p>
      </a>
      <a class="badge thumb" href="#" data-badge='ivoted_badge'>
        <div class="ivoted_badge"></div>
        <p class="count">I Voted Badge</p>
      </a>
   </div>
   <%= image_tag("far_right_arrow.png", :class=>"arrow", :id=>"ivoted_badge_arrow", :style =>"display:none;")%>
   <%= image_tag("near_right_arrow.png", :class=>"arrow", :id=>"ivoted_banner_arrow", :style =>"display: block;")%>
   <%= image_tag("near_left_arrow.png", :class=>"arrow", :id=>"ipledge_badge_arrow", :style =>"display: none;")%>
   <%= image_tag("far_left_arrow.png", :class=>"arrow", :id=>"ipledge_banner_arrow", :style =>"display: none;")%>

  <span class="center"><%= link_to "choose your badge", "/twitter/new?badge=ivoted_banner", :id => 'twitter_login', :class=>"button twitter"%><br/>
    <div class="other_platforms">
    Get it for:  <%= link_to "Google+", "/google/new?badge=ivoted_banner", :id => 'google_login', :class=> 'link_text' %> | <%= link_to "Facebook", "/facebook/new?badge=ivoted_banner", :id => 'facebook_login', :class=> 'link_text' %>
    </div>
  </span>
</div>
<% content_for :footer do %>
  <% javascript_tag do %>
  
    $('a.badge').bind("click", function() {
      change_badge($(this));
    });

    function change_badge(obj){

      $("a.badge").removeClass('selected');
      $(obj).addClass('selected');
      $("img.arrow").hide();
      $("img#"+$(obj).data('badge')+"_arrow").show();
      $("#twitter_login").attr("href", "/twitter/new?badge="+$(obj).data('badge'));
      $("#google_login").attr("href", "/google/new?badge="+$(obj).data('badge'));
      $("#facebook_login").attr("href", "/facebook/new?badge="+$(obj).data('badge'));
    }

  <% end %>
<% end %>