<div id="image_picker">
  <% if !@user.voted?%>
    <div class="have_voted">
      <%= link_to "I Voted", "/#{@provider.provider_type}/#{@provider.uuid}/voted", :class=>"button green ivoted" %>
      <span>Have you voted?
       <%= link_to "Yes, get my 'I Voted' badge/page", "/#{@provider.provider_type}/#{@provider.uuid}/voted", :class=> "link_text" %>
       </span> 
    </div>
  <% end %>
  <div class="preview">
    <%= image_tag(@provider.avatar.url, :class=>"original")%>
    <%= image_tag("#{@provider.badge_type}.png", :class=>"overlay")%>
  </div>
   <div class="overlay_selection closed">
    <span class="center">
    <%= link_to "Download Badge", "/photos/#{@provider.photo.id}/download", :class=> "link_text" %><br/><br/>
    <%= link_to "Change Badge", "/pick_badge?badge=#{session[:badge]}", :class=>"button twitter"%>
    </span>
    <% if session[:provider] == "twitter" %>
       <div class="center follow_us">
         <%= check_box :provider, :following, :checked => true, :style=> "top: -7px; position: relative;" %>
         <%= label_tag :provider_following, "Follow @i__voted on Twitter" %><br/>
       </div>
    <% end %>
    <% if @provider.provider_type != "twitter" %>
    <br/>
      <p>Here's your page and badge. <%= link_to "Download the badge", "/photos/#{@provider.photo.id}/download", :class=> "link_text" %> and change your <%= @provider.provider_type.capitalize %> profile pic. <%= link_to "Share this page.", "/#{@provider.provider_type}/#{@provider.uuid}/", :class=> "link_text" %></p>
    <% end %>
  </div>
</div>