<div class="cta">
   <div class="headline title bebas">Did you vote? Will you vote?</div>
  <h4>Get a Twitter badge and vote page to help motivate your followers to vote.</h4>
  <div class="padd">
    <div class="action">
      <a class="option half left selected" data-url="ivoted_banner">
        <div class="text">
          <p class="bubble red" style="float: left;">Yes, I voted.</p>
           <p class="explanation"></p>
        </div>
        <div class="badge medium">
          <div class="ivoted_banner"></div>
          <%= image_tag(random_avatar, :class=>"avatar")%>
        </div>
      </a>
      <div class="buffer"><div class="line"></div></div>
      <a class="option half right" data-url="ipledge_banner">
        <div class="badge medium">
          <div class="ipledge_banner"></div>
          <%= image_tag(random_avatar, :class=>"avatar")%>
        </div>
        <div class="text">
          <p class="bubble blue" style="float: right;">I'm voting.</p>
          <p class="explanation">Voting hasn't started in your state? Pledge and get a badge, page and helpful voting info.</p>
        </div>
      </a>
    </div>
    <%= image_tag("arrow.png", :class=>"arrow", :id=>"thisone")%>
    <%= image_tag("arrow_left.png", :class=>"arrow", :id=>"thatone", :style =>"display: none;")%>	
  </div>
</div>
<span class="center"><%= link_to "choose your badge", "/twitter/new?badge=ivoted_banner", :id => 'login_button', :class=>"button twitter"%><br/>
  <div class="other_platforms">
  Get it for:  <%= link_to "Google+", "/google/new?badge=ivoted_banner", :id => 'google_login', :class=> 'link_text' %> | <%= link_to "Facebook", "/facebook/new?badge=ivoted_banner", :id => 'facebook_login', :class=> 'link_text' %>
  </div>
</span>
<% content_for :footer do %>
  <% javascript_tag do %>
     $(document).ready(function(){
        change_badge($("a.option.selected"));
      });
      
      $('a.option.half').bind("click", function() {
        change_badge($(this));
      });
    
      function change_badge(obj){
  		if ($(obj).hasClass('selected')) {
  		   } else {
  	           $("#thatone").toggle();
  	           $("#thisone").toggle();	   
  		   }
        $("a.option.half").removeClass('selected');
        $(obj).addClass('selected');
        $("#twitter_login").attr("href", "/twitter/new?badge="+$(obj).data('url'));
        $("#google_login").attr("href", "/google/new?badge="+$(obj).data('url'));
        $("#facebook_login").attr("href", "/facebook/new?badge="+$(obj).data('url'));
      }
  <% end %>
<% end %>