<div class="votebox">
    <div class="field">
      <div class="sexy_line"><h4><%= vote_for(@user) %></h4></div>
      <%= f.text_field :i_voted_for_president %>
    </div>
    <div class="field">
      <div class="sexy_line"><h4><%= vote_because(@user) %></h4></div>
      <%= f.text_field :i_voted_because %>
    </div>
    <div class="field">
      <div class="sexy_line"><h4><%= vote_at(@user) %></h4></div>
      <%= f.text_field :where_i_voted_at %>
    </div>
    <%= hidden_field :badge, :sopa, :value=> !!(params[:controller]=="sopa") %>
</div>