<div id="image_picker">
  <div class="overlay_selection">
    <h4>Badge Designs:</h4>
    <%
      if !current_user.twitter_badge_style.nil? 
        current_badge  = current_user.twitter_badge_style
      else
        current_badge  = 'banner_badge'
      end
    %>
    <% overlay_options.each do |overlay| %>
      <div class="overlay_option">
        <%= radio_button_tag :overlay, overlay[:name], overlay[:name] == current_badge %>
        <%= label :overlay, overlay[:name], overlay[:title]%><br/>
        <%= label :overlay, overlay[:name], overlay[:description]%>
      </div>
    <% end %><br/>
    <span class="center">
    <%= link_to "Upload Badge", "javascript:upload_badge();", :class=>"button thoughtbot"%>
    </span>
  </div>
  <div class="preview">
    <%= image_tag(@user.avatar.url, :class=>"original")%>
    <%= image_tag("banner_badge.png", :class=>"overlay")%>
    <div class="preview_text">
      <p>A preview of the badge to be uploaded to Twitter.</p>
    </div>
  </div>
  <% content_for :footer do %>
    <% javascript_tag do %>
    
      function change_badge(){
        var path = $('input[name=overlay]:checked').val();
        var asset = "/assets/"+path+".png";
        $("img.overlay").attr("src", asset);
      }
    
      $(document).ready(function(){
        change_badge();
      });
      
      $('input[name=overlay]').bind("change", function() {
        change_badge();
      });
      
      function upload_badge(){
        var badge = $('input[name=overlay]:checked').val();
        window.location.replace('/twitter/upload_badge?badge='+badge);
      }
    <% end %>
  <% end %>
</div>