<h1>Edit My Account</h1>

<% form_for @user, :url => users_path do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= render :partial => "users/partials/form", :locals=> {:f => f} %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", users_path %>