<% if current_user %>
  <%= render :partial => "users/partials/tweetbox"%>
    <%= form_for(@user, :url=> {:controller => params[:controller],:action=> "update", :id=> current_login}) do |f| %>
  <div class="header">
    <div class="headline bebas">
      <span class="screen_name">
        <span class="name_widget"><%= @user.name %></span>
        <span class="name_widget form_elements" style="display:none;">
          <%= f.text_field :full_name %>
          <%= f.hidden_field :show_full_name, :value=> false %>
        </span>
      </span>
      <span class="voted"><%= vote_status(@user) %></span>
    </div>
    <div class="name_widget"><a href="javascript:change_name();" class="link_text">change to my full name</a></div>
    
  </div>
  <%= render :partial => "users/partials/image_picker"%>
  <%= render :partial => "users/partials/votebox", :locals=> {:f => f}%>
  <% end %>
<% end %>

<% content_for :footer do %>
  <% javascript_tag do %>
      function change_name(){
        $(".name_widget").toggle();
        $("#user_show_full_name").val(true);
      }
  <% end %>
<% end %>