<%= render :partial => "sopa/partials/cta" %>

<%= image_tag("seperator.png", :style=> "border:none;margin-top: 60px;") %>
<div class="followers">
  <h1 class="ribbon">
     <strong class="ribbon-content"> <%= @counts['total_followers'] %> Followers reached by these badges</strong>
  </h1>
  <%= render :partial => "providers/partials/followers" %>  
  <%= render :partial => "providers/partials/tweets" %>
</div>
<%= render :partial => "providers/partials/vit" %>