<div class="cta pick_badge sopa">
   <div class="headline title bebas">Care about a free internet?</div>
  <h4>Did you help kill SOPA? Get a social media badge and vote page to motivate your followers to vote for internet freedom this year.</h4>
    
  <div class="row">
     <a class="badge thumb selected" href="#" data-badge='sopa_banner'>
        <div class="sopa_banner"></div>
        <%= image_tag(random_avatar, :class=>"avatar")%>
        <p class="count">Banner</p>
      </a>
      <a class="badge thumb" href="#" data-badge='reddit_sopa_banner'>
       <div class="reddit_sopa_banner"></div>
       <%= image_tag(random_avatar, :class=>"avatar")%>
       <p class="count">Reddit Banner</p>
      </a>
      <a class="badge thumb" href="#" data-badge='sopa_badge'>
        <div class="sopa_badge"></div>
        <p class="count">Badge</p>
      </a>
   </div>
   <%= image_tag("near_right_arrow.png", :class=>"arrow", :id=>"sopa_badge_arrow", :style =>"display: none;")%>
   <%= image_tag("middle_arrow.png", :class=>"arrow", :id=>"reddit_sopa_banner_arrow", :style =>"display: none;")%>
   <%= image_tag("near_left_arrow.png", :class=>"arrow", :id=>"sopa_banner_arrow", :style =>"display: block;")%>

  <span class="center">
    <%= text_field :user, :email, :placeholder => "Email (optional)" %><br/>
    <%= link_to "choose your badge", "javascript:submit_cta('twitter');", :id => 'twitter_login', :class=>"button twitter"%><br/>
    <div class="other_platforms">
    Get it for:  <%= link_to "Google+", "javascript:submit_cta('google');", :id => 'google_login', :class=> 'link_text' %> | <%= link_to "Facebook", "javascript:submit_cta('facebook');", :id => 'facebook_login', :class=> 'link_text' %>
    </div>
    <div class="auto_tweet">
       <%= check_box :user, :autotweet, :checked => true, :style=> "top: -2px; position: relative;" %>
       <%= label_tag :user_autotweet, "Tweet about my new badge and page for me." %><br/>
     </div>
    <p class="privacy">Center for Rights and Fight for the Future (501c4) will update you about related campaigns. <a href="http://thecenterforrights.org/privacy">Privacy Policy</a></p>
  </span>
</div>
<% content_for :footer do %>
  <% javascript_tag do %>
  
    $('a.badge').bind("click", function() {
      change_badge($(this));
    });

    function change_badge(obj){
      $("a.badge").removeClass('selected');
      $(obj).addClass('selected');
      $("img.arrow").hide();
      $("img#"+$(obj).data('badge')+"_arrow").show();
    }
    
    function submit_cta(type){
      var badge = $('a.selected').data('badge');
      var email = $("#user_email").val();
      var tweet = $("#user_autotweet").is(':checked');
      var url ="/"+type+"/new?badge="+badge+"&autotweet="+tweet+"&email="+email;
      window.location.href = url;
    }

  <% end %>
<% end %>