<%= form_for(@user, :url=> {:controller => params[:controller], :action=> "upload_badge"}, :html=> {:class=> "pick_badge", :method => :post}) do |f| %>
    <%= image_tag("pick_your_badge.png", :style =>"border:none")  %>
    <div class="row">
       <a class="badge thumb" href="#" data-badge='ipledge_banner'>
         <div class="ipledge_banner"></div>
         <%= image_tag(@user.avatar.url, :class=>"avatar")%>
         <p class="count">I Pledge Banner</p>
       </a>
       <a class="badge thumb" href="#" data-badge='ipledge_badge'>
         <div class="ipledge_badge"></div>
         <p class="count">I Pledge Badge</p>
       </a>
       <a class="badge thumb" href="#" data-badge='ivoted_banner'>
          <div class="ivoted_banner"></div>
          <%= image_tag(@user.avatar.url, :class=>"avatar")%>
          <p class="count">I Voted Banner</p>
        </a>
        <a class="badge thumb" href="#" data-badge='ivoted_badge'>
          <div class="ivoted_badge"></div>
          <p class="count">I Voted Badge</p>
        </a>
       <a class="badge thumb" href="#" data-badge='original'>
          <%= image_tag(@user.avatar.url, :class=>"avatar")%>
          <p class="count">Keep Original</p>
       </a>
     </div>
    <%= link_to "continue", "javascript:$('.pick_badge').submit();", :id=> 'upload_badge', :class=> "button blue" %>
       <div class="follow_us">
         <%= f.hidden_field :badge, :value=> session[:badge] %>
         <%= f.check_box :follow_us, :value=> true %>
         <%= label_tag :user_follow_us, "Follow @i__voted on Twitter" %><br/>
       </div>
<% end %>
<% content_for :footer do %>
  <% javascript_tag do %>
     $(document).ready(function(){
       var badge_style = '<%= session[:badge] %>';
       var obj = $("a.badge[data-badge='"+badge_style+"']");
       change_badge(obj);
     });
    
     $('a.badge').bind("click", function() {
       change_badge($(this));
     });
  
     function change_badge(obj){
       $('#user_badge').val(obj.data('badge'))
       $("a.badge").removeClass('selected');
       $(obj).addClass('selected');
     }
  <% end %>
<% end %>
  
