<div class="tweetbox">
  <%= form_for(@post) do |f| %>
    <div style="float:right;">
      <%= link_to_submit 'Tweet this page', "blue twitter" %>
      <p id="text_count">0/<b>140</b></p>
    </div>
    <div class="field">
      <%= f.text_area :message, :value => default_tweet, :style=> "width:60%; height: 60px;font-size: 120%;" %>
    </div>
    <%= f.hidden_field :user_id, :value=> current_user.id %>
    <%= f.hidden_field :screen_name, :value=> current_user.login %>
    <%= f.hidden_field :platform, :value => "twitter"  %>
  <% end %>
</div>
<% content_for :footer do %>
  <% javascript_tag do %>
      
      var char_limit = 140;
      $(document).ready(function() {
          update_text_count();
          $('#post_message').keyup(function() {
              update_text_count();
          });
      });
      function update_text_count(){
        var len = $('#post_message').val().length;
        if (len >= char_limit) {
            $('#post_message').val($('#post_message').val().substring(0,  char_limit));
        }
        $('#text_count').html(len+"/<b>"+char_limit+"</b>");
      }

  <% end %>
<% end %>
<br/><br/>