<% if (params[:action] == 'edit' || params[:action] == 'show') || (params[:controller] == "sopa" && !params[:provider_type].nil?)  %>
  <% if !current_page?('/') %>
     <ul class="menu">
       <% if !current_user %>
        <% if params[:controller] == "sopa" %>
          <li><%= link_to "Voting? Get your own page!", "/#{params[:provider_type]}/new?badge=sopa_badge", :class=>"button blue large" %></li>
        <% else %>
          <li><%= link_to "Voting? Get your own page!", "/#{params[:provider_type]}/new?badge=ivoted_badge", :class=>"button blue large" %></li>
        <% end %>
       <% else %>
          <li><%= link_to "Logout", signout_path, :method => :delete, :class=>"button grey" %></li>
       <% end %>
     </ul>
   <% if current_user %> 
      <% @sopa = ""; @sopa = "/sopa" if params[:controller] == "sopa"; %>
      <% if params[:action] == 'edit'  %>
        <ul class="menu">
          <li><%= link_to "Cancel", "/#{params[:provider_type]}/#{get_current_id}#{@sopa}", :class=>"button red" %></li>
          <li><%= link_to "Save Page", "javascript:$('.edit_user').submit();", :class=>"button green" %></li>
        </ul>
      <% else %>
       <ul class="menu">
         <% if current_user && !@user.nil? && (params[:action] == 'show' || (params[:controller] == "sopa" && !params[:provider_type].nil? && params[:action] == "index")) %> 
           <% if current_user != @user %>
              <li><%= link_to "View your page", "/#{params[:provider_type]}/#{get_current_id}#{@sopa}", :class=>"button grey" %></li>
           <% end %>
           <% if current_user == @user %> 
              <% if !@user.voted? || params[:controller_type] == "sopa" %>
                <li><%= link_to "I Voted", "/#{params[:provider_type]}/#{get_current_id}/voted", :class=>"button green" %></li>
              <% end %>
              <li><%= link_to "Edit", "/#{params[:provider_type]}/#{get_current_id}#{@sopa}/edit", :class=>"button grey" %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>