<!DOCTYPE html>
<html>
<head>
  <title>I Voted 2012 - Get your own I Voted badge, twitter avatar and page to show you've voted</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://voter-info-tool.appspot.com/js/loader.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="T8VMxEs170WQYfIhvaFtotB0RxuecHgNJb_h8GdE7GU" />
	<meta property="og:title" content="I Voted 2012 - Show it!" />
	<meta property="og:description" content="Did you vote yet? Will you pledge to vote? Become a one person Get Out the Vote machine with these twitter badges!" />
	<meta property="og:image" content="http://www.ivoted2012.org/assets/fb-share.png" />
	<meta property="og:url" content="http://www.ivoted2012.org" />
	<meta property="og:type" content="article" />
	<meta property="fb:admins" content="678090273"/>
		  
		  
</head>
<body class="background_fade">
	
	<div class="socialize" style="position: fixed; height: 350px; margin-left: 10px; margin-top: 55px;">
					<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
							<div id="shareitup" style="overflow: visible">
	
								<% if params[:controller] == "sopa"%>
									<div class="fb-like" data-href="http://www.ivoted2012.org/sopa" data-send="true" data-layout="box_count" data-width="150" data-show-faces="true" style="margin-bottom: 5px;"></div>
              		<br />
								  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ivoted2012.org/sopa" data-text="Care about a free internet? Get a social media badge and motivate your followers to vote for internet freedom." style="float: left; clear: both;">Tweet</a>
								<% else %>
								  <div class="fb-like" data-href="http://www.ivoted2012.org" data-send="true" data-layout="box_count" data-width="150" data-show-faces="true" style="margin-bottom: 5px;"></div>
              		<br />
								  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.ivoted2012.org" data-text="Did you vote yet? Will you pledge to vote? Become a one person Get Out the Vote machine with these twitter badges!" style="float: left; clear: both;">Tweet</a>
								<% end %>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				</div>
			</div>

  <%= render :partial => "layouts/partials/flash", :locals=> {:flash => flash} %>
  <%= yield :head %>
  <table class="stars"><tr><td class="lft"></td><td>
    <% if params[:controller] == "sopa" %>
        <%= link_to image_tag("ivoted_logo.png"), "/sopa" %>
    <% else %>
        <%= link_to image_tag("ivoted_logo.png"), "/" %>
    <% end %>
  </td><td class="rgt"></td></tr></table>
  
  <%= render :partial => "layouts/partials/menu"%>
  <div id="page">
    <%= yield %>
  </div>
		<%= yield :footer %>
		
		
		<p class="disclosure">Fight for the Future and Center for Rights (our 501c3)  may contact you about related campaigns. <a href="http://thecenterforrights.org/privacy">privacy policy</a></p>
		<div class="center" style="padding-bottom: 50px;">
		  <div style="color: #999999; font-size: 200%;">A project of</div>
		  <%= link_to image_tag("personal_democracy.png", :class=> "footer_img"), "http://www.votewithfriends.net/" %>
		  <%= link_to image_tag("center_for_rights.png", :class=> "footer_img"), "http://www.thecenterforrights.org/" %>
		  <%= link_to image_tag("fight_for_the_future.png", :class=> "footer_img"), "http://www.fightforthefuture.org/" %>
		</div>		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26576645-11']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
</body>
</html>
