<!DOCTYPE html>
<html>
<head>
  <title>I Voted 2012 - Change your Twitter Badge to Show You've Voted</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="background_fade">
  <%= render :partial => "layouts/partials/flash", :locals=>{:flash => flash} %>
  <table class="stars"><tr><td class="lft"></td><td><%= link_to image_tag("ivoted_logo.png"), "/" %></td><td class="rgt"></td></tr></table>
  <div class="fb-like" data-href="http://ivote2012.org" data-send="true" data-layout="box_count" data-width="50" data-show-faces="true"></div>
  <%= render :partial => "layouts/partials/menu"%>
  <div id="page">
    <%= yield %>
  </div>
		<%= yield :footer %>
</body>
</html>
